<div class="container">
<h1>Bookmarks#new</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit 'mark it!', class: "btn btn-info" %>
<% end %>
</div>
